# Step 1 (Extract) dependencies -- more will be added in later steps
requests
python-dotenv


# Step 2 (Transform) + Step 3 (Load) dependencies
pandas
hopsworks
pyOpenSSL==24.1.0
cryptography==42.0.8
hopsworks[python]
# Will be needed later (leave commented until that step):
# hopsworks
# pandas
# scikit-learn
# tensorflow
# flask
# streamlit
# shap
# apache-airflow
